*{
    background-color: #000000;
    margin: 0;
    padding: 0;
      overflow: hidden;
  }

.divs{
    display: flex;
    position:absolute;
    top: 20px;
    right: 20px;
    justify-content: flex-end;
    border-radius: 20px;
}
button{
    background-color: #34cec6;
    padding: 10px;
    border: none;
    cursor: pointer;
    font-size: 14px;
    border-radius: 20px;
}
.top-view{
    margin-left: 20px;
    margin-right: 20px;
}
.divs1{
    display: flex;
    position:absolute;
    top: 80px;
    right: 20px;
    justify-content: flex-end;
}
.rotate-left{
    margin-left: 20px;
    margin-right: 20px;
}
